:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue:  hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: var(--light-grayish-blue);
    font-family: 'Manrope', sans-serif;
    font-size: clamp(0.8125rem, 1vw + 0.5rem, 1rem);
    line-height: 1.5;
}

main {
    display: grid;
    place-items: center;
    inline-size: 100%;
    min-block-size: 100vh;
}


.sr-only {
  position: absolute;
  inline-size: 0.0625rem;       
  block-size: 0.0625rem;     
  padding: 0;
  margin: -0.0625rem;    
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.c-card {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    max-inline-size: 18.75rem;
    border-radius: 0.625rem;
    background-color: white;
}
 
.c-card__header {
    display: grid;
    block-size: 100%;
    inline-size: 100%;
}

.c-card__image {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    border-radius: 0.625rem 0.625rem 0 0;
    object-fit: cover;
    object-position: center top;
}

.c-card__content {
    display: grid;
    gap: 1.25rem;
    padding: 1.25rem;
}

.c-card__title {
    color: var(--very-dark-grayish-blue);
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: 600;
}

.c-card__text {
    color: var(--desaturated-dark-blue);
    font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.c-card__footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1.25rem;
}

.c-card__author {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.25rem;
}

.c-card__author-image {
    inline-size: 2.5rem;
    block-size: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.c-card__author-info {
    display: grid;
    gap: 0.3125rem; 
}

.c-card__author-name {
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
}

.c-card__author-date {
    color: var(--grayish-blue);
}

.c-card__share-button {
    display: grid;
    place-items: center;
    background-color: var(--light-grayish-blue);
    inline-size: 2rem;
    block-size: 2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.c-card__share-arrow {
    inline-size: 0.9375rem;
    block-size: 0.8125rem;
}

.c-card__share-icon {
    display: block;
    inline-size: 100%;
    block-size: 100%;
}

.c-card__author-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
}

.c-card__share-container {
    display: none;
    grid-column: 1 / -1;
    align-items: center;
    gap: 1.25rem;
    min-block-size: 4rem;
    padding: 0 2rem;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 0 0 0.625rem 0.625rem;
}

.c-card__share-text {
    color: var(--grayish-blue);
    font-size: 0.75rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.c-card__share-list {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    list-style: none;
}

.c-card__share-link {
    display: block;
    inline-size: 1.25rem;
    block-size: 1.25rem;
}

.c-card__share-close {
    display: grid;
    place-items: center;
    inline-size: 2rem;
    block-size: 2rem;
    margin-inline-start: auto;
    border: none;
    border-radius: 50%;
    background-color: var(--desaturated-dark-blue);
    cursor: pointer;
}

.c-card__share-close .c-card__share-arrow {
    filter: brightness(0) invert(1);
}

.c-card__footer.active .c-card__author-container {
        display: none;
}

.c-card__footer.active {
        padding: 0;
}

.c-card__footer.active .c-card__share-container {
        display: flex;
}


@media (min-width: 64em) {
    .c-card {
        flex-direction: row;
        block-size: 16.875rem;
        max-inline-size:  43.75rem;
    }

    .c-card__header {
        flex-shrink: 0;
        inline-size: 17.125rem;
        block-size: 100%;
    }

    .c-card__image {
        block-size: 100%;
        border-radius: 0.625rem 0 0 0.625rem;
    }

    .c-card__body {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-inline-size: 0;
        position: relative;
    }

    .c-card__content {
        flex: 1;
        gap: 0.875rem;
        padding: 2rem;
    }

    .c-card__title {
        font-size: 1.2rem;
        line-height: 1.35;
    }

    .c-card__text {
        font-size: 0.8rem;
        line-height: 1.45;
    }

    .c-card__footer {
        padding: 0 2.375rem 1.875rem;
    }

    .c-card__footer.active {
        padding: 0 2.375rem 1.875rem;
    }

    .c-card__footer.active .c-card__author-container {
        display: flex;
    }

    .c-card__footer.active .c-card__share-container {
        position: absolute;
        inset-block-end: 5.75rem;
        inset-inline-end: -4.0625rem;
        display: flex;
        min-block-size: 3.375rem;
        inline-size: 14.875rem;
        padding: 0 1.5rem;
        border-radius: 0.5rem;
    }

    
    .c-card__share-container::after {
        position: absolute;
        inset-block-end: -0.75rem;
        inset-inline-end: 6.75rem;
        inline-size: 0;
        block-size: 0;
        border-inline: 0.75rem solid transparent;
        border-block-start: 0.75rem solid var(--very-dark-grayish-blue);
        content: "";
    }

    .c-card__footer.active .c-card__share-close {
        display: none;
    }
}